@inject IUsersService UserService
@inject IUserUtility UserUtility
@inject IBoardService BoardService
@inject IBoardAccessService AccessService

<div style="width:25em">
    <div class="border p-3" style="width:90%;margin:auto">
        <EditForm Model="BoardAccesses">
            <BlazoredTypeahead SearchMethod="@TypeAhead"
                               @bind-Value="@SelectedUser"
                               placeholder="Search for user.."
                               Debounce="500">
                <SelectedTemplate Context="selectedContext">
                    @selectedContext.User.Email
                </SelectedTemplate>
                <ResultTemplate Context="resultContext">
                    @resultContext.User.Email
                </ResultTemplate>
                <NotFoundTemplate Context="notFoundContext">
                    No users found
                </NotFoundTemplate>
            </BlazoredTypeahead>
            <hr />
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th width="40%">
                            User Email
                        </th>
                        <th width="40%">
                            Access Level
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (!String.IsNullOrEmpty(SelectedUser.User.Email))
                    {
                        <tr>
                            <td>@SelectedUser.User.Email</td>
                            <td>
                                <InputSelect @bind-Value="SelectedUser.Role">
                                    @foreach (var role in Enum.GetValues(typeof(BoardRoles)))
                                    {
                                        if ((BoardRoles)role == BoardRoles.NoAccess)
                                            continue;
                                    <option value="@role">@role</option>
                                    }
                            </InputSelect>
                        </td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <button class="btn btn-success" @onclick="AddAccess"><span class="oi oi-plus"></span></button>
                            </div>
                        </td>
                    </tr>
                    }
                    @if (BoardAccesses.Count > 0)
                    {
                        @foreach (var access in BoardAccesses)
                        {
                            <tr>
                                <td>@access.User.Email</td>
                                <td>
                                    <InputSelect disabled="@IsDisabled(access)"
                                         Value="@access.Role"
                                         ValueExpression="@(()=> access.Role)"
                                         ValueChanged="@((BoardRoles role) => UpdateAccess(access, role))">
                                        @foreach (var role in Enum.GetValues(typeof(BoardRoles)))
                                {
                                    if ((BoardRoles)role == BoardRoles.NoAccess)
                                        continue;
                                    <option value="@role">@role</option>
                                }
                            </InputSelect>
                        </td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                @if (!IsDisabled(access))
                                        {
                                            <button class="btn btn-danger" @onclick="()=> DeleteAccess(access)"><span class="oi oi-delete"></span></button>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </EditForm>
    </div>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public int BoardId { get; set; }
    public List<BoardAccess<UserLite>> BoardAccesses { get; set; } = new List<BoardAccess<UserLite>>();

    BoardAccess<UserLite> SelectedUser = new BoardAccess<UserLite>() { User = new UserLite() };
    string currentUserId = String.Empty;

    async Task<IEnumerable<BoardAccess<UserLite>>> TypeAhead(string filter)
    {
        var users = await UserService.GetUsers(filter);
        var accesses = users.Select(u => new BoardAccess<UserLite>
            {
                BoardId = BoardId,
                UserId = u.Id,
                User = u,
                Role = BoardRoles.User
            });

        return accesses.Where(u => !BoardAccesses.Exists(s => s.UserId == u.User.Id) && u.User.Id != currentUserId).ToList();
    }

    async Task AddAccess()
    {
        var result = await AccessService.Add(SelectedUser);
        if (result == -1)
        {
            BoardAccesses = await AccessService.GetByBoardId(BoardId);
        }
        else
        {
            SelectedUser.Id = result;
            BoardAccesses.Add(SelectedUser);
        }
        SelectedUser = new BoardAccess<UserLite>() { User = new UserLite() };
    }

    async Task UpdateAccess(BoardAccess<UserLite> access, BoardRoles role)
    {
        var oldRole = access.Role;
        access.Role = role;
        var result = await AccessService.Update(access);

        if (!result)
            access.Role = oldRole;
    }

    async Task DeleteAccess(BoardAccess<UserLite> access)
    {
        var result = await AccessService.Delete(access);

        if (result)
            BoardAccesses.Remove(access);
    }



    bool IsDisabled(BoardAccess<UserLite> access)
    {
        return access.UserId == currentUserId;
    }

    protected override async Task OnInitializedAsync()
    {
        currentUserId = await UserUtility.GetCurrentUserId();
        BoardAccesses = await AccessService.GetByBoardId(BoardId);
    }
}
